*{
			margin:0;
			padding: 0;
		}
		.container{
			width: 65%;
			height: 100%;
			margin:40px auto;
			background: rgb(247,247,247);
			box-shadow: 0 0 0.1rem #c2c2c2;
		}
		.header{
			width: 100%;
			height: 100px;
			text-align: center;

		}
		.intro{
			margin-top: 20px;
		}
		.table{
			position: relative;
			width: 70%;
			height: 300px;
			margin:40px auto;
		}
		table tr{
			height: 85px;
		}
		.btn-secondary{
				position: absolute;
				bottom:25px;
				right:125px;
			}