*{
			margin:0;
			padding: 0;
		}
		.container{
			width: 65%;
			height: 100%;
			margin:40px auto;
			background: rgb(249,249,249);
			
		}
		.recommendation{
			width: 65%;
			background: rgb(247,247,247);
		}
		.header{
			width: 100%;
			height: 100px;
			text-align: center;

		}
		.intro{
			margin-top: 20px;
		}
		.table{
			position: relative;
			width: 70%;
			height: 300px;
			margin:40px auto;
		}
		table tr{
			height: 85px;
		}
		.table tr td{
			border-top: 0px;
			font-weight: bolder;
    		font-family: BrandonTextWeb-Regular;
		}
		.btn-secondary{
				position: absolute;
				bottom:25px;
				right:125px;
			}